*{
box-sizing: border-box;
font-family: 'Nunito', sans-serif;
}
body{
place-items: center;
background-image:url(assets/img/Emoney.jpeg);
display: grid;
place-items: center;
height: 100vh;
margin: 0;
padding-top: 40px;
}
.text {
    background: #fdfdfd7c;
    border-radius:4px;
    height: 85vh;
    width:85vh;
    box-shadow:#fdfdfd;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding-top: 5%;
    justify-content: center;
    align-items: center;
    }
   
    .muted {
       opacity: 0.8;
    }
    .space{
       height: 100px;
    }